html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.chakra-alert.css-kgxkdf {
  width: 50%;
  margin: auto;
  justify-content: center;
}

.recipe_row:hover {
  background-color: aqua;
  cursor: pointer;
}

.json_file {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  min-height: 80vh;
}

.json_file form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.json_file textarea {
  flex: 1;
  min-height: 0;
  /* Necessary for flexbox to respect height constraints */
}

.new_process_card {
  width: 9em;
  margin: 1em;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#chakra-modal--body-sel_template, .sel_template {
  display: inline-flex;
}

#chakra-modal-view_process_modal {
  max-width: 50%;
}

.fields {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-color: rgb(26, 32, 44);
  border-style: solid;
  box-sizing: border-box;
  margin: 16px;
  padding: 20px;
}

.field-group {
  margin: 16px;
  padding: 20px;
}

.hover-table tr.hover-pointer:hover {
  cursor: pointer;
  background-color: #dfdbdb;
}

.react-flow {
  height: 50vh !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;