html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.chakra-alert.css-kgxkdf {
  width: 50%;
  margin: auto;
  justify-content: center;
}

.recipe_row:hover {
  background-color: aqua;
  cursor: pointer;
}

.json_file {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  min-height: 80vh;
}

.json_file form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.json_file textarea {
  flex: 1;
  min-height: 0; /* Necessary for flexbox to respect height constraints */
}

@tailwind base;
@tailwind components;
@tailwind utilities;